.editButton { 
  /* this is for the actual button of the edit buttons, which we want mostly invisible */
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.editButtonImage {
  /* this is for the IMAGE within the edit buttons */
  width: 12px;
  height: 12px;
}

table {
  border: 1px solid black;
  text-align: center;
}

tr {
    border: 1px solid black;
    text-align: center;
    padding: 5px;
    padding-right: 50px;
    border-radius: 10px;
    background-color: #4B6A97;
    column-span: 8;
}

td {
  border: 1px solid black;
  padding: 5px;
  background-color: lightblue;
}

#filterByNameInput {
  margin-bottom: 10px;
}
